<div class="container"> 
  <div class="row"> 

    <div class="col-md-6 bio">
      		
            <%= image_tag("headshot.jpg") %> </div>
          
           <div class="col-md-6">
            <h3>Writing. Editing. Proofreading. <br> Art direction. Project management.</h3>

            <p>After working more than 10 years in the media industry I have developed wide-ranging editorial and project management skills while collaborating with domestic and international publications. In addition to keeping abreast of publishing industry developments, I have a fascination with microtasks and crowdsourcing platforms.
              </p>
            <P>For more information about my past work, visit my <span><%= link_to "portfolio",'/portfolio' %></span> to see selected projects or view my <span><%= link_to "resume", image_path('swartzresume.pdf') %></span>. Client list provided upon request.  
              </p>
            <p>
            I'm based in Chicago, am married to Second City actor <a href="http://www.nickrees.com">Nick Rees</a> and am human-mom to two dogs I treat like small children.</p>
        
            <p> P.S. I coded this site from scratch using Ruby on Rails in my local environment and deployed via GitHub and Heroku. You know you're impressed.</p>

          </div>
     				
      </div>
     </div>

