<div class="about">
      <div class="container">
      		<div class="bio">
      		
            <%= image_tag("headshot.jpg") %>
          
            <h3>Hello!</h3>
            <p> The media landscape has changed significantly during my decade working in the field.

              From daily news content and data-driven briefs, to glossy monthly and quarterly magazines I've edited and concept</p>
      			
     				
      	</div>
      </div>
     </div>