<div class="about">
      <div class="container">
      		<div class="bio">
      		
            <%= image_tag("headshot.jpg") %>
          
            <h3>Writing. Editing. Proofreading. Art direction. Project management.</h3>

            <p>After working more than 10 years in the media industry I have developed wide-ranging editorial and project management skills while collaborating with domestic and international publications. In addition to keeping abreast of publishing industry developments, I have a fascination with microtasks and crowdsourcing platforms.
              <br>
            For more information about my past work, visit my <span><%= link_to "portfolio",'/portfolio' %></span> to see selected projects or view my <span><%= link_to "resume",'/resume' %></span>. Client list provided upon request.  
              <br>

            I'm the wife of Second City actor <a href="http://www.nickrees.com">Nick Rees</a> and mom to two dogs I treat like small children.

           </p>
      			              <br>

            <p> P.S. I coded this site from scratch using Ruby on Rails in my local environment and deployed via GitHub and Heroku.</p>
     				
      	</div>
      </div>
     </div>



