<div class="contact">
      <div class="container">
      		<h3>Contact me</h3>
      		<div class="row">
      			<ul>
      			   <li><%= link_to image_tag("email.png"), "http://www.twitter.com/in/kathrynswartz" %></li>  	<li><%= link_to image_tag("linkedin11.png"), "http://www.linkedin.com/in/kathrynswartz" %></li>
     				<li><%= link_to image_tag("twitter1.png"), "http://www.twitter.com/in/kathrynswartz" %></li>
     				
     		</ul>
     				
      	</div>
      </div>
     </div>