<div class="banner">
    <ul>
        <li><%= image_tag("bridescover.png") %></li>
        <li><%= image_tag("beercover.png") %></li>
        <li><%= image_tag("beaumontevents.png") %></li>
    </ul>
</div>


<div class="supporting">
      <div class="container">
        <h2>work samples</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <img src="tk">
            </div>
          </div>
          <div class="col-md-6">
            <div class="thumbnail">
              <img src="tk">
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>



<script>
$(function() {
    $('.banner').unslider();
});</script>

<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>