<div class="main home"> 
	<div class="jumbotron"> 
		<div class="container "> 
			<h2>Hello, I'm Kathryn. <br>
				 I produce custom <br> print and digital newsmedia content.
		</h2> <%= link_to "Learn More", '/portfolio', class: "btn" %>
			</div> </div> </div> 

			
