// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  height: 100%;
  width: 100%;
}

/*Header*/

.header container {
	text-align: center;
}

.menu ul {
  list-style: none;
  padding-left: 0;
}

.menu li a {
  color: #000;

}
.header h1 {
	display: inline;
  line-height: 100px;
  font-size: 18px;
  font-weight: 300;
  line-height: 100px;
  height: 100px;
  margin: 0 20px 0 0;

}

.menu li  {
  display: inline;
  line-height: 100px;
  font-size: 18px;
  font-weight: 300;
  line-height: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}

/*Welcome*/ 
.jumbotron {
	background: url(https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75&fm=jpg&s=52cb272e90a3b5e36104066cc9993d83) no-repeat center center;
    background-size: cover;
    height: 500px;
}


.main h2 {
	color: white;
	font-weight: 300;
	font-size: 45px;
	text-align: center;
	padding-bottom: 20px;
	text-shadow: 2px 2px black;
}

/*.highlight {
	background-color: gray;
}*/

/*.feature {
	text-decoration: underline; 
}
*/

.main .btn {
/*  background-color: #1c1c1c;
*/  border-color: white;
  color: #fff;
  font-weight: 200;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display:block; /* change this from inline-block */
    width:20%; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
	}

/*Footer*/

.footer li {
	display: inline;
	text-align: right;


}
 .footer img {
	height: 45px;
	padding-bottom: 10px;
}

.footer p {
	font-size: 9px;
}

/*Portfolio*/

.banner { position: relative; overflow: auto; }


    .banner li { list-style: none;}
        .banner ul li { float: left; 
  }
        .banner ul {padding-left:0; }


.supporting h2 {
  font-weight: 100;
}

.supporting h1{
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

.supporting .row {
  padding-bottom: 30px;
}

/*Contact*/

.contact .col-md-2 img {
  display: block;
  height: 80px;
  margin: 0 auto 70px;
  text-indent: -9999px;
  width: 80px;
  margin-top: 50px;
}

.contact h3 {
  text-align: left ;
  font-size: 40px;
  font-weight: 200;
}


/*About*/

.col-md-6  img{
  height: 400px;
  margin-bottom: 30px;
  margin-right: 40px;
  border-radius: 25px;
  float: right;
}

.col-md-6 p{
  text-align: justify;
  padding-bottom: 10px;
  margin-right: 60px;

}

.col-md-6 h3 {
  font-size: 30px;
  text-align: justify;
  padding-bottom: 10px;
  font-weight: 200;
}
